/* featured */

div.slider{
	position : relative;
	margin : 0;
	padding : 0 0 15px;
	margin-bottom : 20px;
}
div.slider p, div.slider ul, div.slider li, div.slider img{
	margin : 0!important;
	padding : 0!important;
	list-style-type : none;
}
div.slider li p img{
	border : 20px solid #D6D6D6;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
div.slider li p img{
	max-width : 100%!important;
}
.arrowLeft {
	width:20px;
	height:17px;
	background: url(arrow-left.png) center 0px no-repeat;
	cursor:pointer;
	position : absolute;
	top : 48%;
	left : 20px;
	z-index : 9999;
	text-indent : -3000px;
}

.arrowRight {
	width:20px;
	height:17px;
	background:url(arrow-right.png) center 0px no-repeat;
	position : absolute;
	top : 48%;
	right: 20px;
	cursor:pointer;
	z-index : 9999;
	text-indent : -3000px;
}
.arrowLeft:hover, .arrowRight:hover{
	background-position : center  -17px;
}
.slideNav {
	position:absolute;
	bottom:0px;
	margin: 0px -40px 0px 0px;
	overflow : hidden;
	z-index : 9999;
	width : 80px;
	right : 50%;
}

.slideNav a {
	vertical-align:middle;
	margin:0px 5px 0px 5px;
	text-decoration: none;
	text-indent : -3000px!important;
	display : block;
	width : 16px;
	height : 16px;
	float : left;
	background : transparent url(icons.png) no-repeat left top;
}
.slideNav a:hover {
	background : transparent url(icons.png) no-repeat left bottom;
}
.slideNav a.activeSlide {
background : transparent url(icons.png) no-repeat left -17px;
}

/* end featured */
