html, body {
	margin:0;
	/*background: url(./img/background.jpg) no-repeat center top #021B53;*/
}
@font-face {
	font-family: Arial;
	src: url(/theme/Solnechniy/fonts/ArialRegular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: ArialBold;
	src: url(/theme/Solnechniy/fonts/ArialBold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
	font-family: Helvetica;
	src: url(/theme/Solnechniy/fonts/HelveticaRegular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: Helvetica;
	src: url(/theme/Solnechniy/fonts/HelveticaBold.ttf);
    font-style: normal;
    font-weight: bold;
}

#container {
	width: 100%;
}
#wrapper {
	width: 1000px;
	background: white;
	padding: 20px;
	margin: 0 auto;
	overflow:auto;
	min-height: 1000px;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.75);
}
#sidebar {
	float: left;
	width: 280px;
	min-height: 1000px;
	height: 100%;
	border-right: solid 1px red;
}
#сontent {
	float: right;
	width: 700px;
	border-left: solid 1px blue;
}
.menu {
	float: left;
	width: 100%;
	height: 50px;
	padding: 0;
	margin-top: 0;
	background: transparent;
	/*background: #46C5F0;*/
	text-align: center;
	font-size: 30px;
}
.menu li {
	margin: 0px 20px;
	list-style: none;
	display: inline-block;
}
.menu li a {
	height: 42px;
	padding: 5px 0px;
	text-decoration: none;
	display: block;
	/* color: #ffc94d; */
}
.menu li a:hover {
	color: #FFBC1A;
}





#slideshow{
	box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
}










.sideMenu {margin: 0; padding: 0; position: relative; word-spacing: -0.25em;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75); }
.sideMenu li {border-bottom:1px solid #E8E8E8;  display:block; list-style: none; margin: 0; padding: 0; text-align: left; vertical-align: top; word-spacing: normal; //zoom: 1;}
.sideMenu>li:last-child { border:0} 
.sideMenu a {color: #666; display: block; font: 12px/1.2em Arial, Helvetica, sans-serif; padding: 10px 20px 10px 10px; text-align: left; text-decoration: none; position:relative }
.sideMenu a:hover { background: #eee; color: #000; text-decoration: none; text-shadow: 0 1px 0 #fff; }
.sideMenu .active { background: #eee; color: #000; }
.sideMenu ul li { display: block; list-style: none; margin: 0; padding: 0;  border:0; width:100%;}
.sideMenu ul a { display: block; border-radius: 5px;  }
.sideMenu ul { background: #fff; border: 1px solid #c2c2c2; border-radius: 5px; box-shadow: 0 5px 10px rgba(0,0,0,0.2); top: 0; display: none; left: 0; margin: 0; //margin: 1px 0 0 0; padding: 0; position: absolute; top: 0; z-index:2; //zoom:1;}
.arrow-left { border-bottom: 5px solid transparent; border-right: 5px solid #fff; border-top: 5px solid transparent; height: 0; left: -4px; position: absolute; top: 0; width: 0; z-index: 1; }
.arrow-left2 { border-bottom: 5px solid transparent; border-right: 5px solid #c2c2c2; border-top: 5px solid transparent; height: 0; left: -5px; position: absolute; top: 0; width: 0; z-index: 0; }
.toLeft .arrow-left { border-left: 5px solid #fff; border-right: 0; left: auto; right: -4px; }
.toLeft .arrow-left2 { border-left: 5px solid #c2c2c2; border-right: 0; left: auto; right: -5px; }
.arrow-right {width: 0; height: 0; border-top: 4px solid transparent;border-bottom: 4px solid transparent;	border-left: 4px solid #666; position:absolute; top:13px; right:8px;}


.sideMenu a {
	font:12px/1.2em Arial, Helvetica, sans-serif;
	text-align:left; 
	padding: 10px 20px 10px 10px; 
	text-decoration:none;
	color:#666;
}
.sideMenu a:hover { 
	background:#eee; 
	color:#000; 
	text-decoration:none; 
	text-shadow:0 1px 0 #fff;
}
.sideMenu .active { 
	background:#eee; 
	color:#000;
}
.sideMenu ul { 
	padding:0; 
	background:#fff;
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.sideMenu ul li { 
	padding:0; 
	margin:0;
	border:0;
}
.arrow-left {
	border-right-color:#fff; 
	left:-4px; 
}
.arrow-left2 {
	border-right-color:#c2c2c2; 
	left:-5px; 
}
.toLeft .arrow-left {
	border-left-color:#fff;
	right:-4px; 
}
.toLeft .arrow-left2 {
	border-left-color:#c2c2c2;
	right:-5px; 
}
.arrow-right {
	top:13px; 
	right:8px;
	border-left-color:#666;
}

div.slider ul{
	height: 420px!important;
}


.nm_post {
	margin-bottom: 20px;
	padding: 5px;
}
.nm_post_title {
	margin-left: 5px;
	font-family: Helvetica;
	text-decoration: none;
}
.nm_post_title a {
	text-decoration: none;
	color: black;
}
	.nm_post_title a:hover {
	text-decoration: underline;
	}
.nm_post_content {
	border-bottom: solid 1px lightgray;
}
.nm_readmore a{
	float: right;
}
.nm_post_date {
	font-family: Arial;
	font-size: 10px;
}









footer {
	position: relative;
	width: 100%;
	height: 60px;
	text-align: center;
	background: #6BADEF;
	padding-top: 35px;
}
.social {
	top: -5px;
	right: 10px;
	position: absolute;
	margin-right: 10px;
}